<table>
<caption><b location="lblFinancialSetting"></b></caption>
	<tr>
		<td align="left" width="150" height="30">
			<div location="lblEmploymentIndustry" class="inline-block"></div>
		</td>
		<td><div location="cbxEmploymentIndustry"/></td>

		<td align="left" width="120"></td>
		<td><div location="cbSameApplicantAddress"/></td>
		<td align="left" width="100" height="30">
			<div location="lblSameApplicantAddress" class="inline-block"></div>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="430"></td>
		<td align="right" width="60" height="30">
			<div location="lblHouseNo" class="inline-block"></div>
		</td>
		<td><div location="txtHouseNo"/></td>

		<td align="left" width="30" height="30">
			<div location="lblStreet" class="inline-block"></div>
		</td>
		<td><div location="txtStreet"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="150" height="30">
			<div location="lblEmploymentOccupation" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxEmploymentOccupation"/></td>

		<td align="left" width="195"></td>
		<td><div location="txtStreet2"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="150" height="30">
			<div location="lblEmploymentStatus" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxEmploymentStatus"/></td>

		<td align="left" width="130"></td>
		<td align="left" width="60">
			<div location="lblCountry" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxCountry"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblPosition" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxPosition"/></td>

		<td align="left" width="130"></td>
		<td align="left" width="60">
			<div location="lblProvince" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxProvince"/></td>
		<td align="left" width="60">
			<div location="lblDistrict" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxDistrict"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblSenioritiesLevel" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxSenioritiesLevel"/></td>

		<td align="left" width="130"></td>
		<td align="left" width="60">
			<div location="lblCommune" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxCommune"/></td>
		<td align="left" width="60">
			<div location="lblVillage" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxVillage"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="150" height="30">
			<div location="lblWorkPlaceName" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtWorkPlaceName"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblWorkPhone" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtWorkPhone"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblAllowCall" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbAllowCall"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="150" height="30">
			<div location="lblTimeEmployer" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtYear"></div></td>
		<td align="left" width="30" height="30">
			<div location="lblYear" class="inline-block"></div>
		</td>
		<td><div location="txtMonth"></div></td>
		<td align="left" width="30" height="30">
			<div location="lblMonth" class="inline-block"></div>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="150" height="30">
			<div location="lblBasicSalary" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtBasicSalary"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblAllowance" class="inline-block"></div>
		</td>
		<td><div location="txtAllowance"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblBusinessExpense" class="inline-block"></div>
		</td>
		<td><div location="txtBusinessExpense"/></td>
		<td align="left" width="30">
			<div location="lblPerMonth" class="inline-block"></div>
		</td>
	</tr>
</table>
