<table cellspacing="3" cellpadding="3" border="0">
    <tr>
        <td>
            <table cellspacing="3" cellpadding="3" border="0">
                <tr>
                    <td align="right">
                        <div location="lblUnderwriter" class="requiredfield"></div>
                    </td>
                    <td><div location="cbxUnderwriter"/></td>
                </tr>
                <tr>
                    <td align="right">
                        <div location="lblUnderwriterSupervisor" class="requiredfield"></div>
                    </td>
                    <td><div location="cbxUnderwriterSupervisor"/></td>
                </tr>
            </table>
        </td>
        <td>
            <table cellspacing="3" cellpadding="3" border="0">
                <tr>
                    <td>
                        <div location="lblDescription" class="requiredfield"></div>
                    </td>
                    <td><div location="txtDescription"/></td>
                </tr>
            </table>
        </td>
    </tr>
</table>