<table>
	<tr class="marginRight">
		<td><div location="lblApplicant"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="lnkApplicant"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblReference"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="lblReferenceValue"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblStartDate"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="lblStartDateValue"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblEndDate"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="lblEndDateValue"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblPenaltyRule"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtPenaltyRule"></div></td>
	</tr>
	<tr class="marginRight">
		<td><div location="lblGuarantor"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="lnkGuarantor"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblOutstanding"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtOutstanding"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblStatus"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtStatus"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblRatio"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="lblRatioValue"></div></td>
	</tr>
</table>