<!--

<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="left"><div location="lblDealerGroup" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealerGroup"/></td>
		<td width="20">&nbsp;</td>
		&lt;!&ndash; <td align="left"><div location="lblLadderType" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxLadderType"/></td> &ndash;&gt;
	</tr>
	<tr>
		<td align="left"><div location="lblOrganization" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxOrganization"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblBranch" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxBranch"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDealerType" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealerType"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblDealer" class="inline-block"></div>
			<div class="inline-block">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealer"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDealerCategory" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealerCategory"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblDescription" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtDescription"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblName" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtNameEn"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblBranchNo" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtBranchNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDealershopID" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtIntCode"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblHomepage" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtHomePage"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblOpeningDate" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="dfOpeningDate"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lbleMonthlyTargetSales" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtMonthlyTargetSales"/></td>
	</tr>
	<tr>
		<td align="left"><div location="cbActive" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td></td>
		<td width="20">&nbsp;</td>
		<td align="left"></td>
		<td width="10">&nbsp;</td>
		<td></td>
	</tr>
</table>-->


<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="left"><div location="lblDealerGroup" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealerGroup"/></td>
		<td width="20">&nbsp;</td>
		<!-- <td align="left"><div location="lblLadderType" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxLadderType"/></td> -->
	</tr>
	<tr>
		<td align="left"><div location="lblOrganization" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxOrganization"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblBranch" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxBranch"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDealerType" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealerType"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblDealer" class="inline-block"></div>
			<div class="inline-block">&nbsp;</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealer"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDealerCategory" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxDealerCategory"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblDescription" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtDescription"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblName" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtNameEn"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblBranchNo" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtBranchNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblInternalCode" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtInternalCode"/></td>
		<td width="20">&nbsp;</td>
		<!-- <td align="left"><div location="lblBranchNo" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtBranchNo"/></td> -->
	</tr>
	<tr>
		<td align="left"><div location="lblDealershopID" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtIntCode"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lblHomepage" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtHomePage"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblOpeningDate" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="dfOpeningDate"/></td>
		<td width="20">&nbsp;</td>
		<td align="left"><div location="lbleMonthlyTargetSales" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtMonthlyTargetSales"/></td>
	</tr>
	<tr>
		<td align="left"><div location="cbActive" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td></td>
		<td width="20">&nbsp;</td>
		<td align="left"></td>
		<td width="10">&nbsp;</td>
		<td></td>
	</tr>
</table>
