<div style="height: 30px;">
	<font style="font-size: 14px" location="lblFamilyMemberInformation"></font>
</div>
<table cellspacing="3" cellpadding="3" border="0">

	<tr>
		<td width="70px"></td>
		<td><div location="lblRelationshipTitle" /></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblName" /></td>
		<td><div location="lblPosition" /></td>
		<td width="15">&nbsp;</td>
		<td>&nbsp;</td>
		<td colspan="3"><div calss="align-center"
				location="lblLengOfWork" /></td>


		<td><div location="lblAnnualInCome" /></td>
		<td>&nbsp;</td>
		<td><div location="lblContractNumber" /></td>
	</tr>
	<tr>
		<td align="right"><font style="font-size: 11px">1</font></td>
		<td><div location="cbxRelationship1" /></td>
		<td width="15">&nbsp;</td>
		<td><div location ="txtRelationshipName1"></div></td>
		<td><div class="disableField" location=txtPosition1 /></td>
		<td width="15">&nbsp;</td>

		<td><div class="disableField" location="txtLenghOfWorkYear1" /></td>
		<td align="right"><font style="font-size: 11px"><div
					location="lblLenghOfWorkYear1" /></font></td>
		<td><div class="disableField" location="txtLenghOfWorkMonth1" /></td>
		<td><div class="disableField" location="lblLenghOfWorkMonth1" /></td>

		<td><div class="disableField" location="txtAnnualInCome1" /></td>
		<td><div class="disableField" location="lblAnnualInCome1" /></td>
		<td><div class="disableField" location="txtContactNumber1" /></td>
	</tr>
	<tr>
		<td align="right"><font style="font-size: 11px">2</font></td>
		<td><div location="cbxRelationship2" /></td>
		<td width="15">&nbsp;</td>
		<td><div location ="txtRelationshipName2"></div></td>
		<td><div class="disableField" location="txtPosition2" /></td>
		<td width="15">&nbsp;</td>

		<td><div class="disableField" location="txtLenghOfWorkYear2" /></td>
		<td align="right"><font style="font-size: 11px"><div
					location="lblLenghOfWorkYear2" /></font></td>
		<td><div class="disableField" location="txtLenghOfWorkMonth2" /></td>
		<td><div class="disableField" location="lblLenghOfWorkMonth2" /></td>

		<td><div class="disableField" location="txtAnnualInCome2" /></td>
		<td><div class="disableField" location="lblAnnualInCome2" /></td>
		<td><div class="disableField" location="txtContactNumber2" /></td>
	</tr>
	<tr>
		<td align="right"><font style="font-size: 11px">3</font></td>
		<td><div location="cbxRelationship3" /></td>
		<td width="15">&nbsp;</td>
		<td><div location ="txtRelationshipName3"></div></td>
		<td><div class="disableField" location="txtPosition3" /></td>
		<td width="15">&nbsp;</td>

		<td><div class="disableField" location="txtLenghOfWorkYear3" /></td>
		<td align="right"><font style="font-size: 11px"><div
					location="lblLenghOfWorkYear3" /></font></td>
		<td><div class="disableField" location="txtLenghOfWorkMonth3" /></td>
		<td><div class="disableField" location="lblLenghOfWorkMonth3" /></td>

		<td><div class="disableField" location="txtAnnualInCome3" /></td>
		<td><div class="disableField" location="lblAnnualInCome3" /></td>
		<td><div class="disableField" location="txtContactNumber3" /></td>
	</tr>
	<tr>
		<td align="right"><font style="font-size: 11px">4</font></td>
		<td><div location="cbxRelationship4" /></td>
		<td width="15">&nbsp;</td>
		<td><div location ="txtRelationshipName4"></div></td>
		<td><div class="disableField" location="txtPosition4" /></td>
		<td width="15">&nbsp;</td>

		<td><div class="disableField" location="txtLenghOfWorkYear4" /></td>
		<td align="right"><font style="font-size: 11px"><div
					location="lblLenghOfWorkYear4" /></font></td>
		<td><div class="disableField" location="txtLenghOfWorkMonth4" /></td>
		<td><div class="disableField" location="lblLenghOfWorkMonth4" /></td>

		<td><div class="disableField" location="txtAnnualInCome4" /></td>
		<td><div class="disableField" location="lblAnnualInCome4" /></td>
		<td><div class="disableField" location="txtContactNumber4" /></td>
	</tr>
	<tr>
		<td align="right"><font style="font-size: 11px">5</font></td>
		<td><div location="cbxRelationship5" /></td>
		<td width="15">&nbsp;</td>
		<td><div location ="txtRelationshipName5"></div></td>
		<td><div class="disableField" location="txtPosition5" /></td>
		<td width="15">&nbsp;</td>

		<td><div class="disableField" location="txtLenghOfWorkYear5" /></td>
		<td align="right"><font style="font-size: 11px"><div
					location="lblLenghOfWorkYear5" /></font></td>
		<td><div class="disableField" location="txtLenghOfWorkMonth5" /></td>
		<td><div class="disableField" location="lblLenghOfWorkMonth5" /></td>

		<td><div class="disableField" location="txtAnnualInCome5" /></td>
		<td><div class="disableField" location="lblAnnualInCome5" /></td>
		<td><div class="disableField" location="txtContactNumber5" /></td>
	</tr>

	<tr>
		<td align="right"><font style="font-size: 11px">6</font></td>
		<td><div location="cbxRelationship6" /></td>
		<td width="15">&nbsp;</td>
		<td><div location ="txtRelationshipName6"></div></td>
		<td><div class="disableField" location="txtPosition6" /></td>
		<td width="15">&nbsp;</td>

		<td><div class="disableField" location="txtLenghOfWorkYear6" /></td>
		<td align="right"><font style="font-size: 11px"><div
					location="lblLenghOfWorkYear6" /></font></td>
		<td><div class="disableField" location="txtLenghOfWorkMonth6" /></td>
		<td><div class="disableField" location="lblLenghOfWorkMonth6" /></td>

		<td><div class="disableField" location="txtAnnualInCome6" /></td>
		<td><div class="disableField" location="lblAnnualInCome6" /></td>
		<td><div class="disableField" location="txtContactNumber6" /></td>
	</tr>

</table>
</br>
<div style="height: 10px;"></div>
<table>
	<tr>
		<td width="60px"></td>
		<td class='align-right'><div location="lblTotalDisposalIncome" /></td>
		<td width="15">&nbsp;</td>
		<td><div location="txtValueTotalDisposalIncome" class="aline"></div><div location="lblYear" style="padding: 10px" class="aline"></div></td>
		<td width="15">&nbsp;</td>
		<td colspan="4" align="right">
			<div
				location="lblTotalFamilyMember" class="requiredfield"></div>
			<div class="requiredfield colorfield">*</div></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="txtTotalNumberFamilyMember"/></td>
		<td width="15">&nbsp;</td>
		<td class='align-right'><div location="lblNumberOfChild" /></td>
		<td width="15">&nbsp;</td>
		<td><div location="txtNumberOfChild" /></td>
	</tr>
	<tr>
		<td width="60px"><font style="font-size: 14px; height: 30px;"
			location="lblExpense"></font></td>
		<td colspan="6"></td>

	</tr>
	<tr>
		<td width="60px"></font></td>
		<td class='align-right'>
			<div location="lblAnnualPersonalExpense" class="requiredfield"></div>
			<div class="requiredfield colorfield">*</div>
		</td>
		<td width="15">&nbsp;</td>
		<td><div location="txtAnnualPersonalExpense"
				class="requiredfield" /></td>
		<td width="15">&nbsp;</td>
		<td colspan="4" align="right"><div
				location="lblAnnualFamilyExpense" class="requiredfield"></div>
			<div class="requiredfield colorfield">*</div></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="txtAnnualFamilyExpense" /></td>
	</tr>
</table>