<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblMonthlyPersonalExpenses" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtMonthlyPersonalExpenses"></div>
		</td>
		<td width="15">&nbsp;</td>
		<td align="right"><div location="lblMonthlyFamilyExpenses" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtMonthlyFamilyExpenses"/></td>
		<td width="30">&nbsp;</td>
		<td align="right"><div location="lblTotalMonthlyExpenses" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtTotalMonthlyExpenses"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblDebtOtherSource" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="optDebtOtherSource"/></td>
		<td width="15">&nbsp;</td>
		<td align="right"><div location="lblTotalDebtMonthlyInstallment" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtTotalDebtMonthlyInstallment"/></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td align="right"><div location="lblGuarantorOtherLoan" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="optGuarantorOtherLoan"/></td>
		<td width="15">&nbsp;</td>
		<td align="right"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td align="right"><div location="lblConvenientVisitTime" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td colspan="4"><div location="txtConvenientVisitTime"/></td>
		<td width="15">&nbsp;</td>
		<td align="right"></td>
		<td></td>
	</tr>
	<tr>
		<td align="right"><div location="lblPlaceSendingCorrespondence"
				class="inline-block"></div>
				<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxPlaceSendingCorrespondence"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblCertifyCurrentAddress" class="inline-block"></div>
		<div>&nbsp;</div></td>
		<td colspan="4"><div location="cbxCertifyCurrentAddress"/></td>
		<td width="15">&nbsp;</td>
		<td align="right"></td>
		<td></td>
	</tr>
	<tr>
	<td align="right"><div location="lblCertifyIncome"
			class="inline-block"></div>
	<td><div location="cbxCertifyIncome"/></td>
</tr>
</table>



