<table>
	<caption><b location="lblFinancialSetting"></b></caption>
	<tr>
		<td align="left" width="50" height="30">
			<div location="lblCivility" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxCivility"/></td>
	</tr>

	<tr>
		<td align="left" width="100" height="30">
			<div location="lblFamilyName" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtFamilyName"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="130">
			<div location="lblFamilyNameOTH" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtFamilyNameOTH"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblFirstName" class="inline-block">	</div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtFirstName"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblFirstNameOTH" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtFirstNameOTH"/></td>
	</tr>

	<tr>
		<td align="left" width="100" height="30">
			<div location="lblNickname" class="inline-block"></div>
		</td>
		<td><div location="txtNickname"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="150">
			<div location="lblSpouseFamilyName" class="inline-block"></div>
		</td>
		<td><div location="txtSpouseFamilyName"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="130">
			<div location="lblSpouseFirstName" class="inline-block">	</div>
		</td>
		<td><div location="txtSpouseFirstName"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblNumberOfChildren" class="inline-block"></div>
		</td>
		<td><div location="txtNumberOfChildren"/></td>
	</tr>

	<tr>
		<td align="left" width="100" height="30">
			<div location="lblGender" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxGender"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblMaritalStatus" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxMaritalStatus"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblProvinceOfBirth" class="inline-block">	</div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxProvinceOfBirth"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblDateOfBirth" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="dfDateOfBirth"/></td>
	</tr>

	<tr>
		<td align="left" width="100" height="30">
			<div location="lblNationality" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxNationality"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblMobilePhone1" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td>
			<div class="aline" location="txtMobilePhone1"></div>
			<div class="aline" location="btnAddPhoneNumber"></div>
			<div class="aline" location="btnShowPhoneNumber"></div>
		</td>

		<td width="15">&nbsp;</td>
		<td align="left" width="100">
			<div location="lblMobilePhone2" class="inline-block"></div>
		</td>
		<td><div location="txtMobilePhone2"/></td>

		<td width="15">&nbsp;</td>
		<td align="left" width="150">
			<div location="lblSpouseMobilePhone" class="inline-block"></div>
		</td>
		<td><div location="txtSpouseMobilePhone"/></td>
	</tr>
</table>