<table cellspacing="0" cellpadding="0" border="1" style="border-collapse:collapse;">
	<tr style="background: rgba(174, 149, 149, 0.34);height: 40px;">
		<td width='200px' class="align-center"><b location="lblCreditor"></b></td>
		<td width='270px' class="align-center"><b location="lblPurposeOfUse"></b></td>
		<td width='100px' class="align-center"><b location="lblTimingOfLoan"></b></td>
		<td width='100px' class="align-center"><b location="lblRemaininLoan"></b></td>
		<td width='200px' class="align-center"><b location="lblAnualRepayment"></b></td>	
	</tr>
	<tr>
		<td width='200px' class="align-center"><p location="txtCreditor1" class="text_field_align_center_intable"></p></td>
		<td width='270px' class="align-center"><p location="txtPurposeOfUse1" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtTimingOfLoan1" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtRemaininLoan1" class="text_field_align_center_intable"></p></td>
		<td width='200px' class="align-center"><p location="txtAnualRepayment1" class="text_field_align_center_intable"></p></td>	
	</tr>
	<tr>
		<td width='200px' class="align-center"><p location="txtCreditor2" class="text_field_align_center_intable"></p></td>
		<td width='270px' class="align-center"><p location="txtPurposeOfUse2" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtTimingOfLoan2" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtRemaininLoan2" class="text_field_align_center_intable"></p></td>
		<td width='200px' class="align-center"><p location="txtAnualRepayment2" class="text_field_align_center_intable"></p></td>	
	</tr>
	<tr>
		<td width='200px' class="align-center"><p location="txtCreditor3" class="text_field_align_center_intable"></p></td>
		<td width='270px' class="align-center"><p location="txtPurposeOfUse3" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtTimingOfLoan3" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtRemaininLoan3" class="text_field_align_center_intable"></p></td>
		<td width='200px' class="align-center"><p location="txtAnualRepayment3" class="text_field_align_center_intable"></p></td>	
	</tr>
	<tr>
		<td width='200px' class="align-center"><p location="txtCreditor4" class="text_field_align_center_intable"></p></td>
		<td width='270px' class="align-center"><p location="txtPurposeOfUse4" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtTimingOfLoan4" class="text_field_align_center_intable"></p></td>
		<td width='100px' class="align-center"><p location="txtRemaininLoan4" class="text_field_align_center_intable"></p></td>
		<td width='200px' class="align-center"><p location="txtAnualRepayment4" class="text_field_align_center_intable"></p></td>	
	</tr>
		<tr>
		<td colspan="3" height="40px"></td>
		<td width='100px' class="align-center"><b location="lblTotalRemaininLoan"></b></td>
		<td width='200px' class="align-center"><b location="lblTotalAnualRepayment"></b></td>	
	</tr>
</table>