<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right">
			<div location="lblDealerType"></div>
		</td>
		<td><div location="cbxDealerType"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblDealer" 
				class="inline-block"></div>
				<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxDealer"/></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblQuotationDate" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="dfQuotationDate"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblCreditOfficer" 
				class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxCreditOfficer"/></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblProductionOfficer" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;</div></td>
		<td><div location="cbxProductionOfficer"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblPlaceInstallment" 
				class="inline-block"></div>
				<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxPlaceInstallment"/></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblWayOfKnowing" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxWayOfKnowing"/></td>
	</tr>
	<tr>
		<td colspan="3"> </td>
		<td align="right"><div location="lblWayOfKnowing1" class="inline-block"></div></td>
		<td><div location="cbxWayOfKnowing1"/></td>
	</tr>
	<tr>
		<td colspan="3"> </td>
		<td align="right"><div location="lblWayOfKnowing2" class="inline-block"></div></td>
		<td><div location="cbxWayOfKnowing2"/></td>
	</tr>

	
</table>
