<table cellspacing="3" cellpadding="3" border="0">

	<tr>
		<td align="right"><div location="lblBusinessTypes" class="requiredfield"/><!-- </div>
		<div class="requiredfield colorfield">*</div> --></td>
		<td><div location="cbxBusinessTypes"/></td>
	</tr>

	<tr >
		<td align="right"><div location="lblEmploymentOccupation" class="requiredfield"/><!-- </div>
		<div class="requiredfield colorfield">*</div> --></td>
		<td><div location="cbxEmploymentOccupation"/></td>
	</tr>

	<tr >
		<td align="right"><div location="lblEmploymentPosition" class="requiredfield"/><!-- </div>
		<div class="requiredfield colorfield">*</div> --></td>
		<td><div location="cbxEmploymentPosition"/></td>
	</tr>

	<tr >
		<td align="right"><div location="lblEmploymentStatus" class="requiredfield"/><!-- </div>
		<div class="requiredfield colorfield">*</div> --></td>
		<td><div location="cbxEmploymentStatus"/></td>
	</tr>

	<tr >
		<td align="right"><div location="lblEmploymentIndustry" class="requiredfield"/><!-- </div>
		<div class="requiredfield colorfield">*</div> --></td>
		<td><div location="cbxEmploymentIndustry"/></td>
	</tr>

	<tr>
		<td align="right"><div location="lblTimeWithEmployer" class="requiredfield" /><!-- </div>
		<div class="requiredfield colorfield">*</div> -->
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtTimeWithEmployerInYear" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblYears" /></td>
					<td width="10">&nbsp;</td>
					<td><div location="txtTimeWithEmployerInMonth"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblMonths" /></td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td align="right"><div location="lblRevenue" class="requiredfield"/><!-- </div>
		<div class="requiredfield colorfield">*</div> --></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class='align-right_div'><div location="txtRevenue"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblPerYear"/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right" class='align-right_div'><div location="lblBusinessExpense"/></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class='align-right_div'><div location="txtBusinessExpense"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblPerYear1"/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right"><div location="lblWhoseJob" class="requiredfield" /><!-- </div>
		<div class="requiredfield colorfield">*</div> --></td>
		<td><div location="cbxWhoseJob"/></td>
	</tr>
</table>