<table cellspacing="3" cellpadding="2" border="0">
    <tr>
        <td align="right"><div location="lblFinancialProduct" class="inline-block"></div><div class="inline-block requiredfield">&nbsp;*</div></td>
        <td><div location="cbxFinancialProduct"></div></td>
        <td width="50">&nbsp;</td>
        <td align="right"><div location="lblFrequency" class="inline-block"></div>
            <div class="inline-block requiredfield">*</div></td>
        <td><div location="cbxFrequency"></div></td>
        <td><div location="lblInvalidMessage"></div></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="right"><div location="lblAppraisalEstimateAmount" class="inline-block"></div>
            <div class="inline-block requiredfield">*</div></td>
        <td><div location="txtAppraisalEstimateAmount"></div></td>
        <td width="50">&nbsp;</td>
        <td align="right"><div location="lblTermInMonth" class="inline-block"></div>
            <div class="inline-block requiredfield">*</div></td>
        <td><div location="cbxTermInMonth"></div></td>

    </tr>
    <tr>
        <td align="right">
            <div location="lblLeaseAmountPecentage" class="inline-block"></div>
            <div class="inline-block requiredfield">*</div></td>
        </td>
        <td><div location="cbxLeaseAmountPercentage"></div></td>
        <td width="50">&nbsp;</td>
        <td align="right"><div location="lblInstallmentAmont"></div></td>
        <td><div location="txtInstallmentAmount"></div></td>

    </tr>
    <tr>
        <td align="right"><div location="lblLeaseAmount" class="inline-block"></div>
            <div class="inline-block requiredfield">*</div></td>
        <td><div location="txtLeaseAmount"></div></td>
        <td width="50">&nbsp;</td>

    </tr>
    <tr>
        <td align="right"><div location="lblInterestRate" class="inline-block"></div>
            <div class="inline-block requiredfield">*</div></td>
        <td><div location="cbxInterestRate"></div></td>

    </tr>

</table>