	<table cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;width:250px; height:120px;">
				<tr>
					<th align='right'><b><u location="lblTiming"></u></b></th>
					<th align='right'><b><u location="lblTotalTimingValue"></u></b></th>
				</tr>
				<tr>
					<td align='right' location="lblTimingCo"></td>
					<td align='right' location="lblTimingCoValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTimingUc"></td>
					<td align='right' location="lblTimingUcValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTimingUw"></td>
					<td align='right' location="lblTimingUwValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTimingUwSupervisor"></td>
					<td align='right' location="lblTimingUwSupervisorValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTimingMa"></td>
					<td align='right' location="lblTimingMaValue"></td>
				</tr>
				<tr>
					<td align='right'>&nbsp;</td>
					<td align='right'>&nbsp;</td>
				</tr>
	</table>