<table>
<caption><b location="lblFinancialSetting"></b></caption>
	<tr>
		<td align="left" width="180" height="30">
			<div location="lblPersonalExpenses" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtPersonalExpenses"/></td>
		<td width="150">&nbsp;</td>
		<td align="left" width="160" height="30">
			<div location="lblFamilyExpenses" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtFamilyExpenses"/></td>
		<td width="15">&nbsp;</td>
		<td align="left" width="100" height="30">
			<div location="lblExpenses" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtExpenses"/></td>
	</tr>

	<tr>
		<td align="left" width="180" height="30">
			<div location="lblOtherSource" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="optDebtOtherSource"/></td>
		<td width="150">&nbsp;</td>
		<td align="left" width="160" height="30">
			<div location="lblTotalMonthlyInstallment" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtTotalMonthlyInstallment"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="180" height="30">
			<div location="lblConvenientTimeForVisit" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtConvenientTimeForVisit"/></td>
		<td width="230">&nbsp;</td>
		<td align="left" width="50" height="30">
			<div location="lblName" class="inline-block"></div>
		</td>
		<td width="100">&nbsp;</td>
		<td align="left" width="100" height="30">
			<div location="lblTelephoneNumber" class="inline-block"></div>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="180" height="30">
			<div location="lblPlaceSendingCorrespondence" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxPlaceSendingCorrespondence"/></td>
		<td width="70">&nbsp;</td>
		<td align="left" width="160" height="30">
			<div location="lblChiefVillage" class="inline-block"></div>
		</td>
		<td><div location="txtChiefName"/></td>
		<td width="15">&nbsp;</td>
		<td><div location="txtChiefPhone"/></td>
	</tr>

	<tr>
		<td align="left" width="180" height="30">
			<div location="lblCertifyCurrentAddress" class="inline-block"></div>
		</td>
		<td><div location="cbxCertifyCurrentAddress"/></td>
		<td width="60">&nbsp;</td>
		<td align="left" width="160" height="30">
			<div location="lblDeputyChiefVillage" class="inline-block"></div>
		</td>
		<td><div location="txtDeputyChiefName"/></td>
		<td width="15">&nbsp;</td>
		<td><div location="txtDeputyChiefPhone"/></td>
	</tr>

	<tr>
		<td align="left" width="180" height="30">
			<div location="lblCertifyIncome" class="inline-block"></div>
		</td>
		<td><div location="cbxCertifyIncome"/></td>
	</tr>
</table>

<table>
	<td width="365">&nbsp;</td>
	<td align="left" width="50" height="30">
		<div location="lblIncome" class="inline-block"></div>
	</td>
	<td width="50">&nbsp;</td>
	<td align="left" width="80" height="30">
		<div location="lblContactNumber" class="inline-block"></div>
	</td>
	<td width="250">&nbsp;</td>
	<td align="left" width="50" height="30">
		<div location="lblIncome2" class="inline-block"></div>
	</td>
	<td width="50">&nbsp;</td>
	<td align="left" width="80" height="30">
		<div location="lblContactNumber2" class="inline-block"></div>
	</td>
</table>

<table>
	<tr>
		<td width="180">&nbsp;</td>
		<td align="left" width="10" height="30">
			<div location="lbl1" class="inline-block"></div>
		</td>
		<td><div location="cbxMember1"/></td>
		<td width="30">&nbsp;</td>
		<td><div location="txtIncome1"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="txtContract1"/></td>
		<td width="50">&nbsp;</td>
		<td align="left" width="10" height="30">
			<div location="lbl4" class="inline-block"></div>
		</td>
		<td><div location="cbxMember4"/></td>
		<td width="30">&nbsp;</td>
		<td><div location="txtIncome4"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="txtContract4"/></td>
	</tr>

	<tr>
		<td align="left" width="180" height="30">
			<div location="lblReferenceMember" class="inline-block"></div>
		</td>
		<td align="left" width="10" height="30">
			<div location="lbl2" class="inline-block"></div>
		</td>
		<td><div location="cbxMember2"/></td>
		<td width="30">&nbsp;</td>
		<td><div location="txtIncome2"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="txtContract2"/></td>
		<td width="50">&nbsp;</td>
		<td align="left" width="10" height="30">
			<div location="lbl5" class="inline-block"></div>
		</td>
		<td><div location="cbxMember5"/></td>
		<td width="30">&nbsp;</td>
		<td><div location="txtIncome5"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="txtContract5"/></td>
	</tr>

	<tr>
		<td width="180">&nbsp;</td>
		<td align="left" width="10" height="30">
			<div location="lbl3" class="inline-block"></div>
		</td>
		<td><div location="cbxMember3"/></td>
		<td width="30">&nbsp;</td>
		<td><div location="txtIncome3"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="txtContract3"/></td>
		<td width="50">&nbsp;</td>
		<td align="left" width="10" height="30">
			<div location="lbl6" class="inline-block"></div>
		</td>
		<td><div location="cbxMember6"/></td>
		<td width="30">&nbsp;</td>
		<td><div location="txtIncome6"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="txtContract6"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="180" height="30">
			<div location="lblTotalIncome" class="inline-block"></div>
		</td>
		<td align="left" width="10" height="30">
			<div location="lblLast" class="inline-block"></div>
		</td>
		<td><div location="txtTotalIncome"/></td>
		<td width="50">&nbsp;</td>
		<td align="left" width="280" height="30">
			<div location="lblTotalNumberOfFamily" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtTotalMember"/></td>
	</tr>
</table>