<table>
    <caption style="text-align:left"><b location="lblFinancialSetting"></b></caption>
	<tr>		
		<td align="left"><div location="lblFrequency" class="inline-block"></div></td>
		<td><div location="cbxFrequency"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblTerm" class="inline-block"></div></td>
		<td><div location="txtTerm"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblLeaseAmountPecentage" class="inline-block"></div></td>
		<td><div location="txtLeaseAmountPercentage"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblPeriodicInterestRate" class="inline-block"></div></td>
		<td><div location="txtPeriodicInterestRate"/></td>		
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblAdvancePaymentPercentage" class="inline-block"></div></td>
		<td><div location="txtAdvancePaymentPercentage"/></td>		
	</tr>
	<tr>
		<td align="left"><div location="lblNumberOfPrincipalGracePeriods" class="inline-block"></div></td>
		<td><div location="txtNumberOfPrincipalGracePeriods"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblMinAdvancePaymentPercentage" class="inline-block"></div></td>
		<td><div location="txtMinAdvancePaymentPercentage"/></td>		
	</tr>
	<tr>
		<td align="left"><div location="lblMaxFirstPaymentDay" class="inline-block"></div></td>
		<td><div location="txtMaxFirstPaymentDay"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblCurrency" class="inline-block"></div></td>
		<td><div location="cbxCurrency"/></td>
	</tr>	
</table>