<table>
<caption><b location="lblFinancialSetting"></b></caption>
	<tr>
		<td align="left" width="150" height="30">
			<div location="lblFinancialProduct" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxFinancialProduct"/></td>

		<td align="left" width="150" height="30">
			<div location="lblFrequency" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxFrequency"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblAssetPrice" class="inline-block"></div>
		</td>
		<td><div location="txtAssetPrice"/></td>

		<td align="left" width="150" height="30">
			<div location="lblTerminMonth" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxTerminMonth"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblAdvancePayment" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxAdvancePayment"/></td>

		<td align="left" width="150" height="30">
			<div location="lblInterestRate" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxInterestRate"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblAdvancePayment2" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtAdvancePayment"/></td>

		<td align="left" width="150" height="30">
			<div location="lblInstallmentAmount" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtInstallmentAmount"/></td>
	</tr>

	<tr>
		<td align="left" width="150" height="30">
			<div location="lblLeaseAmount" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtLeaseAmount"/></td>
	</tr>

</table>

