<table>
<caption><b location="lblFinancialSetting"></b></caption>
	<tr>
		<td align="left">
			<div location="lblCode" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtCode"/></td>
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblFrequency" class="inline-block"></div>
		</td>
		<td><div location="cbxFrequency"/></td>
	</tr>
	<tr>
		<td align="left">
			<div location="lblDescEn" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtDescEn"/></td>
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblTerm" class="inline-block"></div>
		</td>
		<td><div location="txtTerm"/></td>
	</tr>
	<tr>
		<td align="left">
			<div location="lblDesc" class="inline-block"></div>
		</td>
		<td><div location="txtDesc"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblPeriodicInterestRate" class="inline-block"></div></td>
		<td><div location="txtPeriodicInterestRate"/></td>		
	</tr>
	<tr>
		<td align="left">
			<div location="lblStartDate" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="dfStartDate"/></td>
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblAdvancePaymentPercentage" class="inline-block"></div>
		</td>
		<td><div location="txtAdvancePaymentPercentage"/></td>		
	</tr>
	<tr>
		<td align="left">
			<div location="lblEndDate" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="dfEndDate"/></td>
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblNumberOfPrincipalGracePeriods" class="inline-block"></div>
		</td>
		<td><div location="txtNumberOfPrincipalGracePeriods"/></td>
	</tr>
	<tr>
		<td align="left">
			<div location="lblProductLine" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxProductLine"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblGuarantorRequirement" class="inline-block"></div></td>
		<td><div location="cbxGuarantorRequirement"/></td>		
	</tr>
	<tr>
		<td align="left"><div location="lblVat" class="inline-block"></div></td>
		<td><div location="cbxVat"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblCollatoralRequirement" class="inline-block"></div></td>
		<td><div location="cbxCollatoralRequirement"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblPenaltyRule" class="inline-block"></div></td>
		<td><div location="cbxPenaltyRule"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblReferenceRequirement" class="inline-block"></div></td>
		<td><div location="cbxReferenceRequirement"/></td>
	</tr>
	<tr>
		<td align="left">
			<div location="lblMaxFirstPaymentDay" class="inline-block"></div>
		</td>
		<td><div location="txtMaxFirstPaymentDay"/></td>
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblMinAdvancePaymentPercentage" class="inline-block"></div>
		</td>
		<td><div location="txtMinAdvancePaymentPercentage"/></td>
	</tr>
	<tr>
		<td><div location="cbActive"/></td>
	</tr>
	
</table>