<table border="1px" style="border-collapse: collapse; width: 1050px;">
	<tbody>
	<tr>
		<td><div location="cbBasmtuptcyCheck"></div></td>
		<td style="width: 500px;"><b><div location="lblBasmtuptcyCheck"></div></b><div location="lblBasmtuptcyCheckDesc"></div></td>
		<td style="width: 350px;">
			<div style="float: left;" location="lblMaxBasmtuptcies"></div>
			<div style="float: left; padding-left: 5px;" location="txtMaxBasmtuptcies"></div>
		</td>
		<td><div location="cbxBasmtuptcyCheck"></div></td>
	</tr>
	<tr>
		<td><div location="cbDefaultsCheck"></div></td>
		<td><b><div location="lblDefaultsCheck"></div></b><div location="lblDefaultsCheckDesc"></div></td>
		<td>
			<div style="float: left;" location="lblMaxDefaults"></div>
			<div style="float: left; padding-left: 5px;" location="txtMaxDefaults"></div>
		</td>
		<td><div location="cbxDefaultsCheck"></div></td>
	</tr>
	<tr>
		<td><div location="cbCreditBureauInquiries"></div></td>
		<td><b><div location="lblCreditBureauInquiries"></div></b><div location="lblCreditBureauInquiriesDesc"></div></td>
		<td>
			<div><div style="float: left;" location="lblMinor"></div><div style="float: left; padding-left: 5px;" location="txtMinor"></div><br></div>
			<div><div style="float: left; clear: both;" location="lblMajor"></div><div style="float: left; padding-left: 5px;" location="txtMajor"></div></div>
		</td>
		<td><div location="cbxCreditBureauInquiries"></div></td>
	</tr>
	<tr>
		<td><div location="cbCreditBureauScore"></div></td>
		<td><b><div location="lblCreditBureauScore"></div></b><div location="lblCreditBureauScoreDesc"></div></td>
		<td>
			<div><div style="float: left;" location="lblSoftCutOff"></div><div style="float: left; padding-left: 5px;" location="txtSoftCutOff"></div><br></div>
			<div><div style="float: left;clear: both;" location="lblHardCutOff"></div><div style="float: left; padding-left: 5px;" location="txtHardCutOff"></div></div>
		</td>
		<td><div location="cbxCreditBureauScore"></div></td>
	</tr>
	</tbody>
</table>