<table>
<caption><b location="lblFinancialSetting"></b></caption>
	<tr>
		<td align="left" width="60" height="30">
			<div location="lblHouseNo" class="inline-block"></div>
		</td>
		<td><div location="txtHouseNo"/></td>

		<td align="left" width="25">
			<div location="lblStreet" class="inline-block"></div>
		</td>
		<td><div location="txtStreet"/></td>

		<td width="150">&nbsp;</td>
		<td align="left" width="60">
			<div location="lblCountry" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxCountry"/></td>

		<td align="left" width="60">
			<div location="lblHousing" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxHousing"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="left" width="60" height="30">
			<div location="lblZipCode" class="inline-block"></div>
		</td>
		<td><div location="txtZipCode"/></td>

		<td width="150">&nbsp;</td>
		<td align="left" width="60">
			<div location="lblProvince" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxProvince"/></td>

		<td align="left" width="60">
			<div location="lblDistrict" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxDistrict"/></td>
	</tr>
</table>

<table>
	<tr>
		<td align="right" width="170" height="30">
			<div location="lblTime" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtYear"/></td>

		<td align="left" width="50">
			<div location="lblYear" class="inline-block"></div>
		</td>
		<td><div location="txtMonth"/></td>
		<td align="left" width="50">
			<div location="lblMonth" class="inline-block"></div>
		</td>

		<td width="128">&nbsp;</td>
		<td align="left" width="60">
			<div location="lblCommune" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxCommune"/></td>

		<td align="left" width="60">
			<div location="lblVillage" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxVillage"/></td>
	</tr>
</table>