<table cellspacing="1" cellpadding="1" border="0" style="float:left; margin:0 10% 5% 0;">
	<tr>
		<th align="left" width="170"><div location="lblRegistrationTitle" class="inline-block"></div></th>
	</tr>
	<tr>
		<td align="left"><div location="lblRegBookArrivalDate" class="inline-block" ></div></td>
		<td><div location="dfRegBookArrivalDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblRegBookType" class="inline-block"></div></td>
		<td><div location="cbxRegBookType"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblRegDate" class="inline-block"></div></td>
		<td><div location="dfRegDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblRegNo" class="inline-block"></div></td>
		<td><div location="txtRegNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProvince" class="inline-block"></div></td>
		<td><div location="cbxProvince"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMTBType" class="inline-block"></div></td>
		<td><div location="cbxMTBType"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblManufacturingYear" class="inline-block"></div></td>
		<td><div location="dfManufacturingYear"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblRegBookStatus" class="inline-block"></div></td>
		<td><div location="dfRegBookStatus"/></td>
	</tr>
</table>
<table cellspacing="1" cellpadding="1" border="0" style="margin-bottom:5%;">
	<tr>
		<th align="left" width="150"><div location="lblAOMTaxTitle" class="inline-block"></div></th>
	</tr>
	<tr>
		<td align="left"><div location="lblTaxCalculation" class="inline-block"></div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="dfTaxDate" /></td>
					<td width="5"></td>
					<td><div location="btnTaxCalculate" /></td>
					<td width="5"></td>
					<td><div location="txtTaxAmount"/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblExpirationDate" class="inline-block"></div></td>
		<td><div location="dfExpirationDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblValidationDate" class="inline-block"></div></td>
		<td><div location="dfValidationDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTaxFee" class="inline-block"></div></td>
		<td><div location="txtTaxFee"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTaxStatus" class="inline-block"></div></td>
		<td><div location="txtTaxStatus"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNoDelayDate" class="inline-block"></div></td>
		<td><div location="txtNoDelayDate"/></td>
	</tr>
	<tr>
		<td></td>
		<td><div location="AOMTaxTableLayout"/></td>
	</tr>
</table>
<table cellspacing="1" cellpadding="1" border="0" style="float:left; clear:left; margin-right:10%;">
	<tr>
		<th align="left" width="170"><div location="lblClosingAccountTitle" class="inline-block"></div></th>
	</tr>
	<tr>
		<td align="left"><div location="lblClosingDate" class="inline-block"></div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="dfClosingDate" /></td>
					<td width="5"></td>
					<td><div location="lblCalculateValue" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblTransferenceDate" class="inline-block"></div></td>
		<td><div location="dfTransferenceDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFinanceAmountExc" class="inline-block"></div></td>
		<td><div location="txtFinanceAmountExc"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMotorbikePrice" class="inline-block"></div></td>
		<td><div location="txtMotorbikePrice"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFee" class="inline-block"></div></td>
		<td><div location="txtFee"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblOperationFee" class="inline-block"></div></td>
		<td><div location="txtOperationFee"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMotorbikeBalance" class="inline-block"></div></td>
		<td><div location="txtMotorbikeBalance"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDiscountMultiple" class="inline-block"></div></td>
		<td><div location="txtDiscountMultiple"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBalancmFinanceInc" class="inline-block"></div></td>
		<td><div location="txtBalancmFinanceInc"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDeposit" class="inline-block"></div></td>
		<td><div location="txtDeposit"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblPrepaidInstallment" class="inline-block"></div></td>
		<td><div location="txtPrepaidInstallment"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDepositBalance" class="inline-block"></div></td>
		<td><div location="txtDepositBalance"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDiscount" class="inline-block"></div></td>
		<td><div location="txtDiscount"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblSpecialDiscount" class="inline-block"></div></td>
		<td><div location="txtSpecialDiscount"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAccumulateDiscount" class="inline-block"></div></td>
		<td><div location="txtAccumulateDiscount"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDiscountBalance" class="inline-block"></div></td>
		<td><div location="txtDiscountBalance"/></td>
	</tr>
</table>
<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<th align="left" width="150"><div location="lblAOMInsuranceTitle" class="inline-block"></div></th>
	</tr>
	<tr>
		<td align="left"><div location="lblISRCalculation" class="inline-block"></div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="dfISRDate" /></td>
					<td width="5"></td>
					<td><div location="btnISRCalculate" /></td>
					<td width="5"></td>
					<td><div location="txtISRAmount"/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblPolicyNo" class="inline-block"></div></td>
		<td><div location="txtPolicyNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCertificateNo" class="inline-block"></div></td>
		<td><div location="txtCertificateNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCoverage" class="inline-block"></div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtCoverage" /></td>
					<td width="5">&nbsp;Years</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblInsuranceExpirationDate" class="inline-block"></div></td>
		<td><div location="dfInsuranceExpirationDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblInsuranceValidationDate" class="inline-block"></div></td>
		<td><div location="dfInsuranceValidationDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblISRPremium" class="inline-block"></div></td>
		<td><div location="txtISRPremium"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTagStatus" class="inline-block"></div></td>
		<td><div location="cbxTagStatus"/></td>
	</tr>
	<tr>
		<td></td>
		<td><div location="AOMISRTableLayout"/></td>
	</tr>
</table>