<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left"><div location="lblContractID"/></td>
		<td align="right" width="10px">:</td>
		<td width="90" align="left"><div location="lblContractIDValue"/></td>
		<td align="left"><div location="lblCustomerID"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblCustomerIDValue"/></td>
		<td align="left"><div location="lblCustomer"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblCustomerValue"/></td>
		<td align="left"><div location="lblAsset"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblAssetValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblApplicantStatus"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblStatusValue"/></td>
		<td align="left"><div location="lblAppCategory"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblAppCategoryValue"/></td>
		<td align="left"><div location="lblDOB"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblDOBValue"/></td>
		<!--<td align="left"><div location="lblODM"/></td>
		<td align="right" width="10px">:</td>-->
		<td align="left"><div location="lblODMValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblDateValue"/></td>
		<td align="left"><div location="lblContractStatus"/></td>
		<td align="right" width="10px">:</td>
		<td width="90" align="left"><div location="lblContractStatusValue"/></td>
		<td align="left"><div location="lblPhoneNO"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblPhoneNOValue"/></td>
		<td align="left"><div location="lblPaymentPattern"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblPaymentPatternValue"/></td>
	</tr>
</table>